// 主题
@import '../assets/theme/styles/index';


// 自定义样式

@aside-bg: #001529 !important;
@header-logo-bg: #002140 !important;
@header-bg: #fff !important;
@header-item-fg: rgba(0, 0, 0, 0.65) !important;
@header-item-fg-hover: #1890ff !important;


// 左侧菜单栏容器
.aside {
    background: @aside-bg;
    box-shadow: 4px 0px 4px -4px  rgba(0, 21, 41, .08);
}

// 顶部header
.header {
    background: @header-bg;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

    // logo
    .logo {
        background-color: @header-logo-bg;
        margin-left: -17px !important;
        box-shadow: 4px 0px 4px -4px  rgba(0, 21, 41, .08);
    }

}

// 顶部header中的item
.top-nav .item,
.header-notice .header-notice-icon.dark {
    color: @header-item-fg;

    :hover {
        color: @header-item-fg-hover;
    }
}

.page-header {
    background-color: #fff !important;
}

.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    padding: 0 24px !important;
}
